*{
    font-size: 20px;
}

body {
    font-family: Tahoma, serif;
    max-width: 1200px;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns:1fr 300px;
    grid-template-rows: auto 1fr auto;
}

.header {
    grid-column: span 3;
    text-align: center;
    font-size: 1.4em;
    color: white;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.logo{
    float: left;
    max-width: 100px;
    max-height: 100px;
    grid-column: 1;
    grid-row: 1/3;
}
.social{
    grid-column: 2;
    grid-row: 1;
    height: 50px;
}

.search-icon{
    float: right;
    height: 50px;
    width: 50px;
    margin-left: 30px;
    color: black;
}

.social-icon{
    float: right;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    padding: 3px;
    color: black;
}
.nav{
    grid-column: 2;
    grid-row: 2;
    height: 50px;
}
.nav-btn{
    font-size: 2rem;
    padding-left: 10px;
    float: right;
    color: black;
}
.aside {
    padding: 20px;
    background-color: #936;
    font-size: 1.4em;
    color: white;
}

.footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #690;
    color: white;
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

.card {
    background: #989898;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .header{
        display: grid;
        grid-template-columns:100px 1fr 100px;
    }
    .social{
        grid-column: 3;
    }
    .logo{
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }
    .social .social-icon{
        display: none;
    }
    .nav-btn{
        display: none;
    }
}
